{# empty Twig template #}

<h1> Modifier un Parc</h1>

<form action="" method="POST" {{form_enctype(Form)}}>
    {{form_widget(Form)}}
    <a href="../../config/routing.yml"></a>
    <input type="submit" value="update"/>
</form>